.input-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.input-form__label {
  font-weight: 500;
}

.input-form input {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font: inherit;
  width: 120px;
}
