.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.grid {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.score > * {
    padding: 0 10px;
}